{% extends 'shared/base.html' %}

{% block content %}
<div x-data="{ open: true }" x-show="open">
  <h1 class="p-4 mb-5 text-3xl font-bold">編輯待辦</h1>

  <form class="p-4" hx-post="/edit/{{ item.id }}" hx-target="#items" hx-swap="outerHTML" @submit="open = ! open">
    {% csrf_token %}
    <div>
      <label for="title">標題</label>
      <input type="text" name="title" id="title" value="{{ item.title }}" class="mb-2 input input-bordered">
    </div>

    <div>
      <label for="description">描述</label>
      <input type="text" name="description" id="description" value="{{ item.description }}" class="mb-2 input input-bordered">
    </div>

    <div>
      <label for="deadline">截止日</label>
      <input type="date" name="deadline" id="deadline" value="{{ item.deadline|date:'Y-m-d' }}" class="mb-2 input input-bordered">
    </div>

    <div>
      <label for="status">狀態</label>
      <select id="status" name="status" value="{{ item.status }}" class="mb-2 input input-bordered">
        <option value="Progressing">處理中</option>
        <option value="Completed">已完成</option>
      </select>
    </div>

    <input type="submit" class="btn">
  </form>
</div>
{% endblock %}