{% extends 'shared/base.html' %}

{% block content %}
<h1 class="p-4 mb-5 text-3xl font-bold">Todo List</h1>

<a href="/new" class="m-4 btn" hx-get="/new" hx-target="#new_item">新增待辦</a>
<div id="new_item"></div>
<div id="edit_item"></div>

<table class="table w-1/2 m-4">
  <p class="p-4 mx-4 text-lg font-bold text-white bg-red-500 border-4 rounded-xl max-w-fit">事項</p>
  <thead>
    <tr>
      <th>完成</th>
      <th>標題</th>
      <th>描述</th>
      <th>截止日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% include 'items/_items.html' with items=items %}
</table>

{% endblock %}
